<!-- <app-single-user-details></app-single-user-details>-->
<!-- <app-user-details></app-user-details> -->
<!-- <app-register></app-register> -->
<!-- <app-user-login></app-user-login> -->
<!-- <app-register></app-register> -->

  <!-- <app-details></app-details>  -->
  <!-- <app-login-user></app-login-user> -->
 <!-- <app-department></app-department> -->
  <!-- <span>
 <ul>
     <li>
         <a routerLink="/about">About Us</a></li>
         <li><a routerLink="/login">Login Here</a></li>
         
         <li><a routerLink="/register">Register with Us</a></li>
       
        
 </ul>

</span>-->

  <!-- <app-login></app-login> -->
  <!-- <app-success-page></app-success-page> -->
  
  <router-outlet></router-outlet>