/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: black;
}
li{
    float:left;
}
li a{
    display: block;
    color:white;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color:blueviolet;
}



/*

mat-toolbar{
    background-color: #fff;

}
.img-fluid{
    width:175px;
    height:auto;
    margin: 24px 0 19px 10px!important;
    display:inline;
   
}

.page-container {
    height: 100%;
    background: #fafafa;
    color: #000;
    display: flex;
    flex-direction: column;
}
    a {
        color: inherit;
        text-decoration:none;
    }
    header {
        background: #fff;
        color: #000;
        padding: 24px 18px;
        font-size: 20px;
        font-weight: bold;
        
    }
    .menu-button {
            margin-right: 0px;
            min-width: 0;
            padding: 0;
            line-height: normal;
            color: #000;
            display:flex;
            justify-content:space-between;
            outline: 2px dashed blue;
            
              

    }
    .app-title {
            padding: 3 px;
            text-align: right;
            float: inline-end;
        }
      
        navbar-collapse {
            flex-basis: 100%;
            -webkit-box-flex: 1;
            flex-grow: 1;
            -webkit-box-align: center;
            align-items: center;
        }
        .business-login-panel {
            display: block;
        }
       .blink_me {
            -webkit-animation: 1s linear blinker;
            animation: 1s linear blinker;
        }
        
        .float-container{
            border: 3px solid #fff;
            padding: 10px;
            background-color:#007bff;
        }
        .float-child {
            width: 80%;
            height:100%;
            float: left;
            padding: 20px;
           
            border: 2px;
        }
        .float-childr {
            align-items: flex-end;
            width: 50%;
            height:100%;
            float: right;
            padding: 20px;
           
            border: 2px;
        }

        .button-row {
            display: table-cell;
            width: 490px;
          }
          .section {
            display: table;
          }
          .space{
              display: inline-block;
              width: 10px;
              height:auto;
          }
          .mt-btn{
           flex: 1;
          }
          
          body{
            background-image:linear-gradient(221deg,#280071 0,#c62052) ;
            
          }
          .img-fluid-yn{
            width:175px;
            height:auto;
            margin: 10px 0 19px 10px!important;
            display:inline;
            mix-blend-mode:lighten;
        }
        marquee{
            display:flex;
            font-size: 17px;
            font-weight: 100;
            color:#fff;
            font-family:sans-serif;
            } */