
  <mat-toolbar >
    <mat-toolbar-row>
    <img class="img-fluid" src="assets/yonosbilogo.png" alt="yonosbilogo">
    <span class="example-spacer">Online Registration</span>
  </mat-toolbar-row>
  </mat-toolbar>
  <nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel">
    <a mat-tab-link *ngFor="let link of links"
       (click)="activeLink = link"
       [active]="activeLink == link"> {{link}} </a>
    <a mat-tab-link disabled>Disabled Link</a>
  </nav>

  <mat-tab-nav-panel #tabPanel>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Company (disabled)" disabled value="Google">
        </mat-form-field>
      
        <table class="example-full-width" cellspacing="0">
            <tr>
                <div style="font:bold" > Account Details</div>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="First name">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Long Last Name That Will Be Truncated">
          </mat-form-field></td>
        </tr></table>
      
        <p>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Address 2"></textarea>
          </mat-form-field>
        </p>
      
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="City">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="State">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <input matInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field></td>
        </tr></table>
      </form>
      
  </mat-tab-nav-panel>
