<mat-toolbar>
  <mat-toolbar-row>
    <img class="img-fluid" src="assets/yonosbilogo.png" alt="yonosbilogo">
    <span class="example-spacer">Online Registration</span>
  </mat-toolbar-row>
</mat-toolbar>

<!-------------------------------------------- Account Details Tab -------------------------------------------------->

<body class="mat-typography mat-app-background">
  <form [formGroup]="myForm">
  <mat-tab-group [backgroundColor]="background" [selectedIndex]="active" (selectedIndexChange)="onTabChange($event)">
    <mat-tab label="Personal Details" >
     <ng-template mat-tab-label>Personal Details</ng-template>
      <div class="example-container">
        <table class="example-full-width" cellspacing="10">
          <tr>
            <div class="div-text"> Personal Details</div>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-select placeholder="Title">
                  <mat-option value="Mr.">Mr.</mat-option>
                  <mat-option value="Ms.">Ms.</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First name" formControlName="firstName">
                <mat-hint align="end">Not more then 20 characters long.</mat-hint>
                <mat-error *ngIf="myError('firstName', 'required')">Name is required</mat-error>
                <mat-error *ngIf="myError('firstName', 'maxlength')">Exceeds Limit</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>Middle Name</mat-label>
                <input matInput placeholder="Middle name " formControlName="middleName">
                <mat-hint align="end">Not more then 20 characters long.</mat-hint>
                <mat-error *ngIf="myError('middleName', 'required')">Name is required</mat-error>
                <mat-error *ngIf="myError('middleName', 'maxlength')">Exceeds Limit</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-field-width" appearance="fill" >
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last Name" formControlName="lastName">
                <mat-hint align="end">Not more then 20 characters long.</mat-hint>
                <mat-error *ngIf="myError('middleName', 'required')">Name is required</mat-error>
                <mat-error *ngIf="myError('middleName', 'maxlength')">Exceeds Limit</mat-error>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td>
              <mat-form-field class="example-field-width">
                <mat-label>Maiden Name(if any)</mat-label>
                <input matInput placeholder="Maiden Name">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-field-width" >
                <input matInput [matDatepicker]="picker" placeholder="Date of Birth " class="example-field-width" formControlName="dateOfBirth">
                <mat-hint align="end">Age should not be less than 18 years</mat-hint>
                <mat-error *ngIf="myError('dateOfBirth', 'required')">Date of Birth is required</mat-error>
                <mat-error *ngIf="myError('dateOfBirth', 'maxlength')">Age less than 18 years</mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-select placeholder="Gender" formControlName="gender">
                  
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                  <mat-option value="Transgender">Transgender</mat-option>
                </mat-select>
                <mat-error *ngIf="myError('gender', 'required')">Gender is required</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>Place of Birth</mat-label>
                <input matInput placeholder="Place of Birth" formControlName="placeOfBirth">

                <mat-error *ngIf="myError('placeOfBirth', 'required')">Place of Birth is required</mat-error>
                
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>Country of Birth</mat-label>
                <input matInput placeholder="Country of Birth" formControlName="countryOfBirth">
                <mat-error *ngIf="myError('countryOfBirth', 'required')">Country of Birth is required</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-select placeholder="Marital Status">
                  <mat-option value="Married">Married</mat-option>
                  <mat-option value="Single">Single</mat-option>
                  <mat-option value="Divorced">Divorced</mat-option>
                  <mat-option value="Widowed">Widowed</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          <tr>
            <td>
              <mat-form-field class="example-field-width">
                <mat-label>Aadhar No(optional)</mat-label>
                <input matInput placeholder="Aadhar No">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>Mobile No</mat-label>
                <input matInput placeholder="Mobile No" formControlName="mobile">
                
                <mat-error *ngIf="myError('mobile', 'required')">Mobile No is required</mat-error>
                <mat-error *ngIf="myError('mobile', 'pattern')">Please enter a valid mobile number</mat-error>
                <mat-error *ngIf="myError('mobile', 'maxLength')">Please enter a valid mobile number</mat-error>
                <mat-error *ngIf="myError('mobile', 'minLength')">Please enter a valid mobile number</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>Email ID</mat-label>
                <input matInput placeholder="Email ID" formControlName="emailId">
                <mat-error *ngIf="myError('emailId', 'required')">Email ID is required</mat-error>
                <mat-error *ngIf="myError('emailId', 'email')">Please provide valid email address</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <div class="div-text"> Additional Personal Details
             
            </div>
          </tr>
          <tr>
            <td>
              <p class="div-text">Father's Name</p>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Father's Name">
              </mat-form-field>
            </td>
            <td>
              <p class="div-text">Mother's Name</p>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Mother's Name">
              </mat-form-field>
            </td>
            <td>
              <p class="div-text">Spouse Name</p>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Spouse Name">
              </mat-form-field>
            </td>
          </tr>
          </table>
        <div class="outer">
          <div class="inner"><button mat-raised-button class="yn-button" tabindex="-1" (click)="homepage()">Back</button></div>              
          <div class="inner"><button mat-raised-button class="yn-button"  tabindex="-1" (click)='moveToSelectedTab("KYC Details")'>Proceed</button> </div>
          </div>
        </div>
        
    </mat-tab>
    <!-- /*-------------------------------------------KYC Details*/ ----------------------------------------------------------------------------------------->
    <mat-tab label="KYC Details">
      <ng-template mat-tab-label >KYC Details</ng-template>
      <div class="example-container">
        <table class="example-full-width" cellspacing="10">
          <tr>
            <div class="div-text"> KYC Details</div><br/><br/>
            <div class="div-text">Proof of Identity/Address</div>
          </tr>
          <tr>
            <td>
               <mat-form-field class="example-field-width" appearance="fill">
                <mat-select placeholder="ID Type" formControlName="idType">
                  <mat-option value="Passport">Passport</mat-option>
                  <mat-option value=" Driving licence"> Driving licence</mat-option>
                  <mat-option value="PAN Card">PAN Card</mat-option>
                  <mat-option value="NREGA JOB CARD"> NREGA JOB Card</mat-option>
                  <mat-option value="Aadhar Card">AADHAR Card</mat-option>
                </mat-select>
                <mat-error *ngIf="myError('idType', 'required')">ID Type is mandatory</mat-error>
              </mat-form-field>
            </td>
            <!-- <td>
                <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>ID Number</mat-label>
                <input matInput placeholder="ID Number">
                <mat-error *ngIf="myError('idNumber', 'required')">ID Number is mandatory</mat-error>
              </mat-form-field>
            </td>-->

            <td>
              <mat-form-field class="example-field-width" appearance="fill" >
                <mat-label>Issued on(dd/mm/yyyy)</mat-label>
                <input matInput placeholder="Issued on(dd/mm/yyyy)">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <div class="div-text"> PAN Details(Optional)</div>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>PAN No.</mat-label>
                <input matInput placeholder="PAN No." >
                <mat-error *ngIf="myError('idType', 'required')">ID Type is mandatory</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>Name on PAN</mat-label>
                <input matInput placeholder="Name on PAN">
              </mat-form-field>
            </td>
            <td>
              <mat-checkbox>The name on PAN is same as that of ID Proof</mat-checkbox>
            </td>
          </tr>
          <tr>
            <div class="div-text"> Address Details</div>
            <div class="div-lttext">Address Details as per proof provided</div>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-field-width" appearance="fill" >
                <mat-label>Flat/House No./Floor/Building</mat-label>
                <input matInput placeholder="Flat/House No./Floor/Building" formControlName="addressLine1">
                <mat-error *ngIf="myError('addressLine1', 'required')">Address is mandatory</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>Colony/Street/Locality</mat-label>
                <input matInput placeholder="Colony/Street/Locality" formControlName="addressLine2">
                <mat-error *ngIf="myError('addressLine2', 'required')">Address is mandatory</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>City/Town/ District</mat-label>
                <input matInput placeholder="City/Town/ District"  formControlName="city">
                <mat-error *ngIf="myError('city', 'required')">Address is mandatory</mat-error>
              </mat-form-field>
            </td>
          <tr>
            <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>State</mat-label>
                <input matInput placeholder="State"  formControlName="state">
                <mat-error *ngIf="myError('state', 'required')">Address is mandatory</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-field-width" appearance="fill" >
                <mat-label>Pincode/Zipcode (Optional)</mat-label>
                <input matInput placeholder="Pincode/Zipcode (Optional)" formControlName="pincode">
                <mat-error *ngIf="myError('pincode', 'required')">Pincode is required</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>Country</mat-label>
                <input matInput placeholder="Country"  formControlName="country">
                <mat-error *ngIf="myError('country', 'required')">Country is required</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-checkbox>Permanent address is same as Current Address
              <p class="div-lttext">In such case , no separate proof of address is required</p>
            </mat-checkbox>
            </td>
            </tr>
            <tr>
            <div class="div-text">Address of Correspondence
              <p class="div-lttext">Cheque Book and ATM card will be delivered at correspondence address</p>
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button color="primary"value="1">Current Address</mat-radio-button>
                <p>
                <mat-radio-button color="primary" value="2">Permanent Address</mat-radio-button></p>
              </mat-radio-group>
            </div>
          </tr>
          </table>
          <div class="outer">
            <div class="inner"><button mat-raised-button class="yn-button" tabindex="-1" (click)='moveToSelectedTab("Personal Details")'>Back</button></div>              
            <div class="inner"><button mat-raised-button class="yn-button" tabindex="-1" (click)='moveToSelectedTab("Additional Details")'>Proceed</button> </div>
            </div>
          </div>
    </mat-tab>
    <!-- ---------------------------Additional Details ---------------------------------------------------------------->
    <mat-tab>
      <ng-template mat-tab-label>Additional Details</ng-template>
      <div class="example-container">
        <table class="example-full-width" cellspacing="10">
          <tr>
         <p class="div-text"> Services Required</p><br>
         
          </tr>
          <tr>
            <td>
              <div class="div-text">Internet Banking</div>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-select placeholder="Internet banking Rights"  formControlName="inbRights">
                  <mat-option value="Full Rights">Full Rights</mat-option>
                  <mat-option value="Limited Rights">Limited Rights</mat-option>
                  <mat-option value="View Only Rights">View Rights</mat-option>
                  </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-label>Receive SMS Alerts</mat-label>
              <mat-radio-group aria-label="Select an option" formControlName="smsAlerts">
                <mat-radio-button value="Yes">Yes</mat-radio-button>
                <mat-radio-button value="No">No</mat-radio-button>
              </mat-radio-group>
            </td>
            <td>
               <mat-label>Cheque Book</mat-label>
               <mat-radio-group aria-label="Select an option" formControlName="chequeBook">
                  <mat-radio-button value="Yes">Yes</mat-radio-button>
                  <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
              </td>
              </tr>
          <tr>
            <td>
              <mat-label>Debit Card</mat-label>
              <mat-radio-group aria-label="Select an option" formControlName="debitCard">
                 <mat-radio-button value="Yes">Yes</mat-radio-button>
                 <mat-radio-button value="No">No</mat-radio-button>
               </mat-radio-group>
             
            </td>
            <td>
               <mat-label>Card Type</mat-label>
                <mat-label>Domestic</mat-label>
            
            </td>
            <td>
              <mat-label>Name as would appear on Card</mat-label>
              <mat-form-field class="example-field-width" appearance="fill">
                
                <input matInput placeholder="Name" formControlGroup="nameOnCard">
              </mat-form-field>
            </td>
          </tr>
          </table>
          <div class="outer">
            <div class="inner"><button mat-raised-button class="yn-button" tabindex="-1" (click)='moveToSelectedTab("KYC Details")'>Back</button></div>              
            <div class="inner"><button mat-raised-button class="yn-button" tabindex="-1" (click)='moveToSelectedTab("Nomination Details")'>Proceed</button> </div>
            </div>
          </div>
    </mat-tab>
    <!-- ---------------------------------Nomination Details=-------------------------------------------------------------- -->
    <mat-tab>
      <ng-template mat-tab-label>Nomination Details</ng-template>
      <div class="example-container">
        <table class="example-full-width" cellspacing="10">
           <tr>
            <td>
              <mat-label>Nominee Required</mat-label>
              <mat-radio-group aria-label="Select an option" formControlGroup="nomineeReq">
                <mat-radio-button color="primary"value="Yes">Yes</mat-radio-button>
                <mat-radio-button color="primary"value="No">No</mat-radio-button>
              </mat-radio-group>
            </td>
            </tr>
            <tr>
           <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlGroup="nomineeName">
              </mat-form-field>
            </td>
         
            <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>Relationship with Applicant</mat-label>
                <input matInput placeholder="Relationship with Applicant" formControlGroup="nomineeRel">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>Date of Birth</mat-label>
                <input matInput placeholder="Date of Birth">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <div class="div-text"> Nominee Address</div>
            <mat-checkbox>Same as Applicant's address</mat-checkbox>
          </tr> 
          <tr>
            <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>Address Line 1</mat-label>
                <input matInput placeholder="Address Line 1" formControlGroup="nomineeAddressLine1">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>Address Line 2</mat-label>
                <input matInput placeholder="Address Line 2">
              </mat-form-field>
            </td>
            <td>
               <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>State</mat-label>
                <input matInput placeholder="State">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>Pin Code</mat-label>
                <input matInput placeholder="Address Line 2">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-field-width" appearance="fill">
                <mat-label>Country</mat-label>
                <input matInput placeholder="Country">
              </mat-form-field>
            </td>
          </tr> 
          </table>
          <div class="outer">
            <div class="inner"><button mat-raised-button class="yn-button" tabindex="-1" (click)='moveToSelectedTab("Additional Details")'>Back</button></div>              
            <div class="inner"><button mat-raised-button class="yn-button" tabindex="-1" (click)='moveToSelectedTab("Preview")'>Proceed</button> </div>
            </div>
          </div>
    </mat-tab>
    
    <!--------------------------------------------Review-------------------------------------------------------------------- -->
    <mat-tab>
      <ng-template mat-tab-label>Preview</ng-template>
      <div class="example-container">
        <table class="example-full-width" cellspacing="10">
          <tr>
            <div class="div-text" style="color:black">Personal Details</div>
            </tr>
            <tr>
            <td><mat-label>First Name:Name</mat-label></td>
              <td><mat-label>Middle Name:Name</mat-label></td>
              <td><mat-label>Last Name:Name</mat-label></td>
               </tr>
               <tr>
              <td><mat-label>Maiden Name(if any):Name</mat-label></td>
              <td><mat-label>Date of Birth:Name</mat-label></td>
              <td><mat-label>Gender:Name</mat-label></td>
              </tr>
              <tr>
              <td><mat-label>Place of Birth:Name</mat-label></td>
              <td><mat-label>Country of Birth:Name</mat-label></td>
              <td><mat-label>Marital Status:Name</mat-label></td>
              </tr>
              <tr>
              <td><mat-label>Aadhar No(optional):Name</mat-label></td>
              <td><mat-label>Mobile No(optional):Name</mat-label></td>
              <td><mat-label>Email ID:Name</mat-label></td>
              </tr>
              <hr  width="100%">
              <tr>
                <div class="div-text" style="color:black">Additional Personal Details</div>
              </tr>
              <tr>
              <td><mat-label>Father's Name:Name</mat-label></td>
              <td><mat-label>Mother's Name:Name</mat-label></td>
              <td><mat-label>Spouse Name:Name</mat-label></td>
              </tr>
              <hr  width="100%">
              <tr>
                <div class="div-text" style="color:black">KYC Details</div>
              </tr>
              <tr>
                <td><mat-label>ID Type:Name</mat-label></td>
                <td><mat-label>ID Number:Name</mat-label></td>
                <td><mat-label>Issued on(dd/mm/yyyy):Name</mat-label></td>
                </tr>
                <tr>
                <td><mat-label>PAN Details:Name</mat-label></td>
                <td><mat-label>Name on PAN:Name</mat-label></td>
                </tr>
                <hr  width="100%">
                <tr>
                  <div class="div-text" style="color:black">Address Details</div>
              </tr>
              <tr>
              <td><mat-label>Flat/House No./Floor/Building:Name</mat-label></td>
              <td><mat-label>Colony/Street/Locality:Name</mat-label></td>
              <td><mat-label>City/Town/ District:Name</mat-label></td>
              </tr>
              <tr>
              <td><mat-label>State:Name</mat-label></td>
              <td><mat-label>Pincode:Name</mat-label></td>
              <td><mat-label>Country:Name</mat-label></td>
              </tr>
              <hr  width="100%">
              <tr>
                <div class="div-text" style="color:black">Services Required</div>
              <td><mat-label>Internet Banking:Name</mat-label></td>
              <td><mat-label>Receive SMS Alerts:Name</mat-label></td>
              </tr>
              <tr>
              <td><mat-label>Cheque Book:Name</mat-label></td>
              <td><mat-label>Debit Card:Name</mat-label></td>
              <td><mat-label>Card Type:Name</mat-label></td>
              </tr>
              <tr>
              <td><mat-label>Name as would appear on Card:Name</mat-label></td>
              </tr>
              <hr  width="100%">
              <tr>
                <div class="div-text" style="color:black">Nomination Details</div>
              
              </tr>
              <tr>
              <td><mat-label>Name:Name</mat-label></td>
              <td><mat-label>Relationship with Applicant:Name</mat-label></td>
              <td><mat-label>Date of Birth:Name</mat-label></td>
              </tr>
              <tr>
              <td><mat-label>Nominee Address Line 1:Name</mat-label></td>
              <td><mat-label>Nominee Address Line 2:Name</mat-label></td>
              <td><mat-label>State:Name</mat-label></td>
              </tr>
              <tr>
              <td><mat-label>Pin Code:Name</mat-label></td>
              <td><mat-label>Country:Name</mat-label></td>
              </tr>
              </table>
              <div class="outer">
                <div class="inner"><button mat-raised-button class="yn-button" tabindex="-1" (click)='moveToSelectedTab("Nomination Details")'>Back</button></div>              
                <div class="inner"><button mat-raised-button class="yn-button" tabindex="-1" (click)='moveToSelectedTab("Submit")'>Proceed</button> </div>
                </div>
              </div>
              </mat-tab>
     
    <!-- -----------------------------------Submit -------------------------------------------------------------------->
    <mat-tab>
    <ng-template mat-tab-label>Submit</ng-template>
    <div class="example-container">
      <table class="example-full-width" cellspacing="10">
        <div align="center">
          <img src="assets/success.png" alt="success" style="height: 50px;width: 50px;">
        </div><div></div><div></div>
        <div class="success-padding">Request Sent for Approval</div><br><br>
        <div class="div-text" style="text-align:center">
          
          An email has been sent to your registered email address with your login credentials.<br><br>
          Your application is under process and will take upto 3 days to be processed.<br><br>
          You can login to check the status of your application.</div>
      
     </table>
    </div>
    </mat-tab>
  </mat-tab-group>
  </form>
</body>