<mat-toolbar >
    <mat-toolbar-row>
  <img class="img-fluid" src="assets/yonosbilogo.png" alt="yonosbilogo">
  <a routerLink="/">
    <span class="app-title">                                       ONLINE BANKING SBI</span>
  </a>
  <button mat-button class="menu-button">
    <!-- <mat-icon align="right">menu</mat-icon> -->
  </button>
</mat-toolbar-row>
</mat-toolbar>

<body>
<div class="parent">
    <marquee direction="left">Call us toll free on 1800 1234 and 1800 2100 and get a wide range of services through SBI Contact Centre   |   For added security, new functionality to maintain per day and per transaction limit for general merchant payment transactions has been implemented. Please visit Define Limit under profile section.   |   For booking Forex trades with ease, use Fx-Retail. For more information, reach out to your Regional Treasury Marketing Unit.   |   Register yourself for Doorstep banking services on 18001037188 / 18001213721 or log on to 
        <a href="https://psbdsb.in" target="_blank"><u>psbdsb.in</u></a>
    </marquee>
<div class="child">
<img class="img-fluid-yn" src="assets/yonosbilogo1.png">
<div style="font-size: 18px;font:medium;color:#fff;">An integrated banking solution which can be accessed across devices,</div>
<div style="font-size: 18px;font:medium;color:#fff;">allowing you to plan, manage, grow &amp; address corporate financial needs</div><br>
<section>
  <div class="button-row">
    <button mat-raised-button class="mt-btn" color="primary">LOGIN</button>
    <div class="space"></div> 
    <button mat-raised-button class="mt-btn" color="primary" (click)="register()">REGISTER</button>
  </div>
</section>
</div>
<div class="child">
<img class="img-fluid-yn" style="width: 500px;height: auto" src="assets/ipad-iphone-yonob.png">
</div>
</div>
<!-- <div class="footer">
   <div class="col-lg-3 col-md-12 col-12"> -->
    <!-- <ul  class="social-links">
      <li> 
        <a class="yn-animate" target="blank" href="https://www.pinterest.com/TheOfficialSBI/">
          <span class="socialIcon raise" id="pintrest"></span>
        </a>
      </li>
    </ul>  -->
  <!-- </div> -->

</body>