<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
        <span >My Banking Application</span>
      </mat-toolbar-row>  
   <mat-toolbar-row>
    <span>Second Line</span>
  <span class="example-spacer"></span>
  <mat-icon class="Example home icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
</mat-toolbar-row>
</mat-toolbar>

<div class="example-container">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Enter your email</mat-label>
           <input matInput placeholder="Ex. pat@example.com" [formControl]="email" required>
           <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
   </div>
 -->
