<body>
    <div class="page-container">
        <mat-toolbar >
            <mat-toolbar-row>
          <img class="img-fluid" src="assets/yonosbilogo.png" alt="yonosbilogo">
          <a routerLink="/">
            <span class="app-title">ONLINE BANKING SBI</span>
          </a>
          <button mat-button class="menu-button">
            <mat-icon style="float:right;padding-left: 800px;height:100%;width: 100%;">menu</mat-icon>
          </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="float-container">
        <div class="float-child">
            <img class="img-fluid-yn" src="assets/yonosbiwhite.png">
        <div style="font-size: 14px;font:medium;color:#fff;">An integrated banking solution which can be accessed across devices,</div>
        <div style="font-size: 14px;font:medium;color:#fff;">allowing you to plan, manage, grow &amp; address corporate financial needs</div><br>
        <section style="border: 2px black;">
            
                <!-- <div class="button-row">
                  <button mat-raised-button class="mt-btn" color="primary">LOGIN</button>
                  <div class="space"></div> 
                  <button mat-raised-button class="mt-btn" color="primary">REGISTER</button>
                </div> -->
              </section>
    </div>
    </div>
    </div>
</body>